<ul>
  <% @links.each do |e| %>
    <li>http://<%= APP_DOMAIN %>/<%= e.token %> => <%= e.website_url %> <%= e.updated_at %> </li>
  <% end %>
</ul>

<hr/>
<a href="<%= url_for({:controller => :admin, :action => :logout}) %>">Logout</a>
